.btn {
  background-color: $mainPink;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.7rem;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;

  a {
    color: #ffffff;
  }

  &--text {
    transition: all 0.3s ease-out;
  }

  &--cta {
    padding: 0.9rem 2.2rem;
  }

  &--top-margin {
    margin-top: 1.5rem;
  }

  &--right {
    position: absolute;
    height: 41px;
    width: 40px;
    background: #1a1a1a;
    left: 0;
    top: 0;
    font-size: 1.2rem;
    line-height: 2;
    margin-left: -50px;
    opacity: 0;
    transition: all 0.3s linear;
  }

  &:hover &--right {
    margin-left: 0;
    opacity: 1;
  }

  &:hover &--text {
    margin-left: 15px;
  }
}
