.column {
  width: 100%;

  &--content-center {
    text-align: center;
  }

  @mixin atMedium {
    display: flex;

    &__small {
      width: 30%;
    }

    &__large {
      width: 70%;
    }

    &--margin-right {
      margin-right: 1.5rem;
    }
  }
}
