.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    margin-left: 0.2rem;
    li {
      list-style: none;
      font-size: 1.2rem;
      color: #666666;
      margin: 0 0.8rem 0.8rem 0;
      font-weight: 300;
      text-transform: uppercase;
      transition: width 0.3s ease-out;
    }
  }
  &__card {
    width: 100%;
    position: relative;
    transition: width 0.3s ease-out;
    @mixin atSmallMedium {
      width: 45%;
    }
    @mixin atMedium {
      width: 30%;
    }
    @mixin atLarge {
      width: 45%;
    }
    height: 350px;
    margin-bottom: 3rem;

    &--image {
      background-size: cover;
      background-position: center;
      filter: brightness(0.75) saturate(1.2) contrast(0.85);
      background: $mainPink;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform-origin: center;
      transform: scale(1) translateZ(0);
      transition: all 0.2s linear;
    }

    &:hover &--image {
      transform: scale(1.1) translateZ(0);
    }
  }
}
